.cta {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='960' viewBox='0 0 1440 960' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H1440V892C1440 892 1082.96 960 722 960C361.039 960 0 892 0 892V0Z' fill='%23FCF8FF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
